body {
  max-width: 1440px;
  margin: 0 auto;
}
/* header */

.header {
  display: flex;
  padding: 100px 46px 83px 54px;
  align-items: center;
}

.header__nav-lists {
  display: flex;
}

.header__nav-list {
  font-size: 18px;
  margin-right: 32px;
  list-style: circle;
}

.header__logo {
  display: block;
  width: 139px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__open-link {
  list-style: none;
  border-bottom: none;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.30px;
  width: 240px;
}

.margin-left-auto {
  margin-left: auto;
}

.address__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.address__text {
  border: none;
}

/* section cover */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 162px 50px 50px 50px;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  background-size:cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover__title {
  color: white;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 124px;
  letter-spacing: 30px;
}

.cover__description-space {
  word-spacing: 23px;
}

.cover__title-center {
  display: block;
  text-align: center;
  margin-right: 29px;
}

.cover__title-right {
  display: block;
  text-align: end;
}

.cover__title-space {
  display: inline-block;
  width: 30px;
}

.letter-spacing-extended {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  gap: 78px;
  margin-top: 120px;
  align-items: center;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 17px;
}

.bet-button {
  padding: 12px 32px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px white solid;
}

/* section lots */

.container {
  padding: 91px 50px;
}

.lots {
  margin-top: 90px;
}

.section-heading {
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__heading {
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 27px 0 32px 0;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
}

.lots__card-list-item {
  flex: 1 1 32%;
}

.card {
  position: relative;
  min-height: 450px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size:cover;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 26.40px;
}

.card__text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__look-more-link {
  color: black;
  font-size: 17px;
  font-weight: 400;
  margin-left: 40px;
}

/* section about */

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-items: center;
  gap: 26px;
}

.about__logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 240px;
  height: 240px;
  background-color:black;
  border-radius: 150px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__text {
  color: black;
  font-size: 17px;
  font-weight: 400;
  word-spacing: 0.2px;
  margin-bottom: 27px;
}

.about__heading {
  margin-bottom: 99px;
  margin-top: 100px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 66px 50px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list-item {
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-list {
  width: 240px;
  display: flex;
  list-style: none;
  gap: 48px;
}
